<div class="actions">
    <a href="#articleCommentsHolder" title="Comment" class="btn btnComment">
        {{> atoms-ico:comment }}
        <span class="caption">125 comments</span>
    </a>
</div>