<!-- 

 - For consideration:
    - maybe folder with images for DEV purposes should be created
 line-height: 1.37em;
-->


  <div class="article-map ">
    {{> atoms-ico:map-marker}}

    <img src='../../images/map.png' alt="map"/>
  
  <strong>Washington</strong>
  --
</div>