<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        form * {
            float:left;
        }
    </style>
</head>
    <body>
        <form action="/captcha/result.html" method="post">
            <img src="/images/captcha.png" alt="Captcha">
            <input type="text" name="simple-captcha-response" data-empty-message="Please fill-in the captcha operation result." data-format-message="Result of the operation must be a positive number." /><input type="hidden" name="simple-captcha-identifier" value="V902O9Y5CAAPACODMMPGTO1HW" /><button type="submit">Validate</button>
        </form>
    </body>
</html>