<div class="date-time-area {{#top-area-hlighted}}hlight{{/top-area-hlighted}}">
    <div class="container">
        <span class="date-time">
            {{site-date-time-info}}
        </span>
    </div>
</div>