{{#section-page-title-enabled}}
    <div class="wrap area-pg-title {{#top-area-hlighted}}hlight{{/top-area-hlighted}}">
        <div class="container">
            {{> molecules-page-title }}
        </div>
    </div>
{{/section-page-title-enabled}}