<!-- list of icons on schedule page -->

<ul class="content schedule-icons ">
    <li class="list-icons">

        <a href="{{link}}">
            <span class="ico  ico-rss"></span>
        </a>

    </li>
    <li class="list-icons">

        <a href="{{link}}">
            <span class="ico  ico-podcast"></span>
        </a>

    </li>
    <li class="list-icons">

        <a href="{{link}}">
            <span class="ico  ico-itunes"></span>
        </a>

    </li>
    <li class="list-icons">

        {{> molecules-media-download}}

    </li>
</ul>
