{{#dropdowntext}}
<div id="dropdown">
    <input type="checkbox" id="dropdown-title" />
    <label for="dropdown-title">{{btn-text}}<i class="ico ico-chevron-down"></i></label>
    <p>
        {{dropdown-text}}<br />
        <a class="dropdown-link" href="{{drop-link}}" title="{{drop-link-text}}" > {{drop-link-text}} </a>
    </p>
</div>
{{/dropdowntext}}
