{{#additionaltext}}
<div class="add-info">
    <div class="add-title"> 
        {{add-title}}       
    </div>
    <div class="add-info-txt">
        {{add-info-txt}}
    </div>
    <div class="add-info-link">
        <a href="{{add-info-link}}" title="{{add-info-link-text}}">{{add-info-link-text}}</a>
    </div>
</div>
{{/additionaltext}}
