<div class="cal-component">
    <div class="date-title-wrap">
        <h2 class="date">{{day-selected}}</h2>
    </div>
    <div class="cal-drop">
        {{> molecules-calendar }}
    </div>
</div>