    <!--Patternlab NOTE: The translater does not work - just plain HTML to show the elements for styling -->
<div id="google_translate_element" data-page-language="en" data-included-languages="ru,cs" style="font-family: arial; font-size: 13px; color: #666; white-space: nowrap;">
    <div class="skiptranslate goog-te-gadget" dir="ltr">
        <div id=":0.targetLanguage" style="display: inline;">
            <select class="goog-te-combo">
                <option value="">Select Language</option>
                <option value="ru">Russian</option>
                <option value="cs">Czech</option>
                <option value="sk">Slovak</option>
            </select>
        </div>&nbsp;&nbsp;Powered by <span style="white-space:nowrap"><a class="goog-logo-link" href="https://translate.google.com" target="_blank"><img src="https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_42x16dp.png" width="37px" height="14px" style="padding-right: 3px" alt="Google Translate">Translate</a></span>
    </div>
</div>
