<div class="affiliates">   
    <div class="affiliates__select">
        {{> atoms-fake-select-menu-base:form-fake-select--affiliates }}
    </div>
    <div class="affiliates__map">
        <img src="/images/bc-page-affiliates-russia.png" alt="">
    </div>   
</div>

