{{#itemsSpecific}}
<div class="waves__item">
    <div class="row">    
        <div class="waves__time-area col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <i class="ico ico-{{itemIcon}}"></i><span class="time"><time class="time__elem time__elem--waves">{{time}}</time></span>
        </div>
        <div class="waves__freq-area col-xs-12 col-sm-8 col-md-9 col-lg-10">
            {{#freqs}}
            <div class="freq-group freq-group--{{type}}">                               
                <span title="{{title}}">{{type}}</span>
                <span title="frequency">{{value}}</span>                
            </div>
            {{/freqs}}
        </div>
    </div>
</div>
{{#itemsSpecific}}