<div class="publishing-details">

    <div class="published">
        <span class="{{#pubDateText}}date{{/pubDateText}} {{#broadcastTime}}time{{/broadcastTime}}" title="{{timeZone}}">
            {{pubDateText}} {{broadcastTime:23456}}
        </span>
    </div>
    <!-- /.published -->
    
    {{> molecules-author-link }}
    <!-- /.authors -->
  
</div>