<!-- 

 - CLASS name - "lbl" >> should be "label", so it's clear what does it do/means

-->

<div class="tags">
    <span class="lbl">Tags:</span>
    <a href="123#" class="tag">Obama</a>
    <a href="456" class="tag">America</a>
    <a href="#" class="tag">Washington</a>
</div>