<div class="media-replacer blockquote {{ styleModifier }}">
  <div class="box_with_quote">
    <!--<blockquote cite="http://www.worldwildlife.org/who/index.html">-->
    <div class="box_with_innerQuote">
      {{ blockquote }}
    </div>
    <div class="quote_footer">
      <a href="/">Quote footer link</a>
    </div>
    <!--</blockquote>-->
  </div>
</div>