<div class="category">
    {{^category-is-label-only}}
    <a href="#">{{category}}</a>
    {{/category-is-label-only}}

    {{#category-is-label-only}}
    <span>{{category}}</span>
    {{/category-is-label-only}}

</div>