{{#slide-in-widget-on-article-enabled}}
<!-- Slide in widget... -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="media-block-wrap slide-in-wg">
                <div class="wg-hiding-area">
                    <i class="ico ico-arrow-right"></i>
                    <h3 class="section-head">{{ section-head.recommended }}</h3>
                    <div class="row">
                        {{> molecules-media-block-holder(size:4, item-count:one, class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div> <!--/row-->
</div><!-- /.container-->
{{/slide-in-widget-on-article-enabled}}