 "show_comments": true,
 "comments":  [
        {
            "author": "Logan",
			"author_location": false,
			"is_moderator": false,
			"has_reply_form": false,
			"has_report_form": false,
            "text": "What if I told you removing it from Google won't remove it from the internet? If people want to find them, they will find them. Google or not."
        },
        {
            "author": "Logan",
			"author_location": "London, UK",
			"is_moderator": true,
			"has_reply_form": false,
			"has_report_form": false,
            "text": "Hi, this article is really depressive, but it's nice written.",
            "subcomments": [
                {
                    "author": "Hanah",
					"author_location": false,
					"is_moderator": false,
					"has_reply_form": true,
					"has_report_form": false,
                    "text": "What do you mean it's depressive? It's reality...",
                    "subcomments": []
                },
                {
                    "author": "Logan",
					"author_location": "London, UK",
					"is_moderator": true,
					"has_reply_form": false,
					"has_report_form": false,
                    "text": "I know but world should have no diseases.",
                    "subcomments": []
                }
            ]
        },
		{
            "author": "Peter",
			"author_location": "New York, USA",
			"is_moderator": false,
			"has_reply_form": false,
			"has_report_form": false,
            "text": "Apple, pche... it's for dummy people which don't know how to use other devices. Lucky me for for not using this craps!",
            "subcomments": [
                {
                    "author": "Hana",
					"author_location": false,
					"is_moderator": false,
					"has_reply_form": false,
					"has_report_form": false,
                    "text": "You are really piece of nut. How you can say that???",
                    "subcomments": []
                },
                {
                    "author": "Lucka",
					"author_location": "Prague, Czech Republic",
					"is_moderator": true,
					"has_reply_form": false,
					"has_report_form": false,
                    "text": "People with these comments should try it by themselves.",
                    "subcomments": [
					{
						"author": "Fredy",
						"author_location": false,
						"is_moderator": false,
						"has_reply_form": false,
						"has_report_form": false,
						"text": "What???",
						"subcomments": []
					},
					{
						"author": "Josh",
						"author_location": false,
						"is_moderator": false,
						"has_reply_form": false,
						"has_report_form": false,
						"text": "You are so rude!",
						"subcomments": [
						{
							"author": "Anonymous",
							"author_location": "Washington D.C., USA",
							"is_moderator": false,
							"has_reply_form": false,
							"has_report_form": true,
							"text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur suscipit pharetra velit, id ultricies enim tincidunt in. Integer vestibulum nulla sed dolor blandit, laoreet accumsan ipsum fringilla. Sed gravida bibendum porttitor. Sed id sagittis leo. Donec eget iaculis sem. Quisque luctus vitae lectus ac hendrerit. Duis dignissim fermentum augue, at fringilla tellus fermentum ullamcorper. Maecenas metus ex, semper nec interdum nec, tincidunt in lectus. Sed id risus a ligula tempus lobortis. Integer cursus sit amet eros a iaculis.",
							"subcomments": []
						}
					]
					}
				]
                }
            ]
        },
        {
            "author": "George",
			"author_location": false,
			"is_moderator": false,
			"has_reply_form": false,
			"has_report_form": false,
            "text": "Love this author.",
            "subcomments": [
                {
                    "author": "Tereza",
					"author_location": false,
					"is_moderator": false,
					"has_reply_form": false,
					"has_report_form": false,
                    "text": "Me too, I already follow him...",
                    "subcomments": []
                },
                {
                    "author": "Mark",
					"author_location": false,
					"is_moderator": false,
					"has_reply_form": false,
					"has_report_form": false,
                    "text": "I can recommend you another maybe better one.",
                    "subcomments": []
                }
            ]
        }
    ],
