"right-region-enabled":false,
"link": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
"category-link": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
"try-again": "Please try again",
"success": "Thank you<br/> please continue",
"ok": "Ok",
"redirection-text": "This content is not available on Beta site. <br/> Please, see it on full site",
"section-head": {
    "related": "Related articles",
    "custom-widget": "My custom widget",
    "you-might-like": "You might like also",
    "archive": "Archive",
    "top-stories": "Top Stories",
    "blogs-title": "Blogs",
    "schedule_and_frequencies": "Schedule and Frequencies",
    "subscribe": "Subscribe" ,
    "episodes": "Episodes",
	"produced-by": "Produced by" 
    },
"social-networks":[
      {
          "link":"#facebook",
          "social-network":"facebook",
          "title":"Facebook"
      },  
      {
          "link":"#twitter",
          "social-network":"twitter",
          "title":"Twitter"
      },
      {
          "link":"#youtube",
          "social-network":"youtube",
          "title":"YouTube"
      },
      {
          "link":"#google-plus",
          "social-network":"g-plus",
          "title":"G+"
      },
      {
          "link":"#vkontakte",
          "social-network":"vkontakte",
          "title":"vKontakte"
      },
      {
          "link":"#soundcloud",
          "social-network":"soundcloud",
          "title":"SoundCloud"
      },
      {
        "link":"#odnoklassniki",
        "social-network":"odnoklassniki",
        "title":"odnoklassniki"
      },
	   {
        "link":"#mailru",
        "social-network":"mailru",
        "title":"mailru"
      }
    ],
"texts": {
    "main-navigation-nojs-label": "Main Menu",
    "all_comments": "All comments (125)",
    "comment_sorting": "Comment Sorting",
    "comment_sorting_latest_first": "Latest first",
    "comment_sorting_chronological": "Chronological",
    "see_comments": "See comments",
    "see_tv_programs": "See TV Programs",
	"see_radio_programs": "See Radio Programs",
    "pub-date-text": "March 04, 2013",
    "pub-date-datetime": "2013-03-04 09:29:24",
    "follow-facebook": "Facebook",
    "follow-twitter": "Twitter",
    "shortwave": "Shortwave",
    "tv_satellites": "TV Satellites",
    "podcast": "Podcast",
    "rss": "RSS",
    "itunes": "iTunes",
    "newsletter": "Newsletter",
    "load_more": "Load more",
    "see_all_episodes": "See all episodes",
    "tv_programs": "TV Programs",
	"radio_programs": "Radio Programs",
    "videos": "Videos",
    "search": "Search",
    "success": "This is success!",
	"copyright": "Radio Free Europe/Radio Liberty & 2014 RFE/RL, Inc. All Rights Reserved.",
	"back_top_top": "Back to top",
	"reply": "Reply",
	"report": "Report",
	"share": "Share",
	"toggle-sharing": "Toggle more sharing options",
	"comments_head": "All comments (125)",
	"comments_form_head": "Your opinion",
	"comments_form_note-NOT-IN-FIRST-PHASE": "For more options please <a href='/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html'>Login</a> or <a href='/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html'>Register</a>.",
	"comments_moderator": "Moderator",
	"comments_your_name": "Your name...",
	"comments_your_email": "Your email...",
	"comments_your_comment": "Your comment...",
	"comments_your_reply": "Your reply...",
	"comments_your_reason": "Reason for reporting...",
	"read_more_info": "Read more info",
        "err_missing_name": "Please enter your name!",
        "err_missing_email": "Please enter your email",
        "err_missing_subject": "Please enter subject",
	"err_missing_comment": "Comment field must not be empty or contain more than 4000.",
	"err_missing_captcha": "The picture and your input did not match up please try again",
	"err_general_input_message": "There are some issues, please review the form before sending."
   
},
"btn_text": { "default":"Button",
    "show_details": "Show more details",
    "hide_details": "Hide details",
    "submit_comment": "Submit comment",
    "load_more_comments": "Load more comments",
    "load_more": "Load more",
    "search": "Search",
    "reset_comment": "Cancel",
    "reply_comment": "Reply",
    "report_comment": "Report"
},
"sizes": {
	"screen-sm-min": "740px"
},

