    "link-try-again": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
    "link-success": "/patterns/09-RFE-22-success/09-RFE-22-success.html",
    "link-article": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
    "link-video": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
    "link-program": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
    "link-program-item": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
    "link-sharing-facebook": "/patterns/09-RFE-22-success/09-RFE-22-success.html",
    "link-sharing-twitter": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
    "link-sharing-gplus": "/patterns/09-RFE-22-success/09-RFE-22-success.html",
    "link-sharing-vkontakte": "/patterns/09-RFE-22-success/09-RFE-22-success.html",
    "link-sharing-email": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
    "link-home": "/patterns/09-RFE-00-homepage/09-RFE-00-homepage.html",
    "link-author-facebook": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
    "link-author-twitter": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
    "link-program-item-menu-home": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
    "link-program-item-menu-episodes": "/patterns/09-RFE-05-program/09-RFE-05-program.html?tab=episodes",
    "link-program-item-menu-about": "/patterns/09-RFE-05-program/09-RFE-05-program.html?tab=about",
    "link-program-item-menu-gallery": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
	"link-program-menu-home": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
	"link-program-menu-episodes": "/patterns/09-RFE-05-program/09-RFE-05-program.html?tab=episodes",
	"link-program-menu-about": "/patterns/09-RFE-05-program/09-RFE-05-program.html?tab=about",
	"link-program-menu-gallery": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",	
	"link-program-item-menu-home": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
	"link-program-item-menu-episodes": "/patterns/09-RFE-05-program/09-RFE-05-program.html?tab=episodes",
	"link-program-item-menu-about": "/patterns/09-RFE-05-program/09-RFE-05-program.html?tab=about",
	"link-program-item-menu-gallery": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
	"link-program-index-menu-tv": "http://patternlab.local/patterns/09-RFE-06-program-index/09-RFE-06-program-index.html?tab=tv",
	"link-program-index-menu-radio": "http://patternlab.local/patterns/09-RFE-06-program-index/09-RFE-06-program-index.html?tab=radio",
    "link-comments-submit": "/patterns/09-RFE-22-success/09-RFE-22-success.html",
    "link-comments-report": "/patterns/09-RFE-22-success/09-RFE-22-success.html",
    "link-search-result": "/patterns/09-RFE-07-search-result/09-RFE-07-search-result.html",
	"link-crosslink-tv-programs": "http://patternlab.local/patterns/09-RFE-06-program-index/09-RFE-06-program-index.html?tab=tv",
	"link-crosslink-radio-programs": "http://patternlab.local/patterns/09-RFE-06-program-index/09-RFE-06-program-index.html?tab=radio",
	"link-crosslink-videos": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",
	"link-multimedia-context-menu-schedule": "/patterns/09-RFE-22-success/09-RFE-22-success.html",
	"link-multimedia-context-menu-programs": "http://patternlab.local/patterns/09-RFE-06-program-index/09-RFE-06-program-index.html",
	"link-multimedia-context-menu-podcast": "/patterns/09-RFE-09-try-again/09-RFE-09-try-again.html",