<div id="content">
    {{#mainImage}}
        <div class="media-hdr-container media-container">
            <div class="container">
                {{#mainImage}}
                    {{> molecules-media-placeholder-master }}
                {{/mainImage}}
            </div>
        </div>
    {{/mainImage}}

    <!-- content-body -->
    <div class="media-container">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 pull-right">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 pull-left">
                            {{#category}}
                                <!-- item category (zone) -->
                                {{> molecules-category }}
                            {{/category}}

                            <!-- item title (H1) -->
                            {{> atoms-title }}

                            <div class="publishing-details">
                                <!-- data and time -->
                                <div class="published">
                                    <span class="{{#pubDateText}}date{{/pubDateText}} {{#broadcastTime}}time{{/broadcastTime}}" title="{{timeZone}}">
                                        {{pubDateText}} {{broadcastTime:23456}}
                                    </span>
                                </div>
                                <!-- /.published -->

                                {{> molecules-author-link }}
                                <!-- /.authors -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 pull-right">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 pull-left">
                            {{^introTop}} <!-- if not at the top of the page (above image) -->
                                {{> molecules-intro}}
                            {{/introTop}}
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container-->
    </div><!-- /.media-container-->
</div><!-- /#content-->
