{{^page-no-header-no-footer}}<!-- if not tru, will display header & footer - USED for Quiz-embedded page -->
{{> molecules-header }}
{{/page-no-header-no-footer}}

<div id="content">
    {{> molecules-section-page-title-wrapper }}
    <div class="container">
        <!-- row #1 -->
        <div class="row">
            <!-- Top Story - V1 -->
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 pull-left wg-area-2c">
                <div class="media-block-wrap">
                    {{#specific-items-top-story-ver-1}}

                    {{> molecules-media-block-holder-header}}
                    <div class="img-overlay">
                        <div class="row">
                            {{> molecules-media-block-holder-specific(size:1, item-count:"one", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:true, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                    {{> molecules-media-block-holder-footer}}
                    {{/specific-items-top-story-ver-1}}
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right wg-area-1c">
                <div class="media-block-wrap">
                    {{> molecules-media-block-holder-header}}
                    <div class="row">
                        {{> molecules-media-block-holder(size:4, item-count:"four",  class:"col-xs-12 col-sm-6 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                    </div>
                    {{> molecules-media-block-holder-footer}}
                </div>
            </div>

        </div><!-- /.row -->
        <!-- row #2 -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left wg-area-3c">
                <!-- devider -->
                <div class="media-block-wrap">
                    {{> molecules-media-block-holder-header}}
                    <div class="row">
                        {{> molecules-media-block-holder(size:4, item-count:"six",  class:"col-xs-12 col-sm-6 col-md-4 col-lg-4", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                    </div>
                    {{> molecules-media-block-holder-footer}}
                </div>
            </div>
        </div><!-- /.row -->

        <hr />
        <!-- row #2.1 --- 4columns -->
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 wg-area-2c">
                <div class="media-block-wrap">
                    <!-- TOP Story -->
                    {{#specific-items-top-story-ver-1}}
                    <h3 class="section-head">Top story widget on 4 columns layout</h3>
                    <div class="img-overlay">
                        <div class="row">
                            {{> molecules-media-block-holder-specific(size:1, item-count:"one", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:true, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                    {{/specific-items-top-story-ver-1}}
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                <div class="media-block-wrap">
                    <!-- News in brief -->
                    <h3 class="section-head">News in brief</h3>
                    <div class="row">
                        {{> molecules-media-block-holder(size:4, item-count:"five", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:false, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}

                    </div>
                    <a class="link-more" href="#">More in archive</a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                <div class="media-block-wrap">
                    <!--special-sidebar-->
                    <!-- VIDEO - TOP -->
                    <div class="img-overlay">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 ">
                                <h3 class="section-head">Double Top story</h3>
                                <div class="row">
                                    {{> molecules-media-block-holder(size:1, item-count:"two", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:true, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--row-->
        <hr />
        <!-- row #3 -->
        <!-- row #4 -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left wg-area-3c">
                <!-- devider -->
                <div class="media-block-wrap">
                    {{> molecules-media-block-holder-header}}
                    <div class="row">
                        {{> molecules-media-block-holder(size:4, item-count:"six",  class:"col-xs-12 col-sm-6 col-md-4 col-lg-4", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                    </div>
                    {{> molecules-media-block-holder-footer}}
                </div>
            </div>
        </div><!-- /.row -->

        <hr />

        <!-- row #5 -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 wg-area-1c">
                <!-- devider -->
                <div class="media-block-wrap">

                    {{#specific-items-top-story-one-column-1st}}
                    {{> molecules-media-block-holder-header}}
                    <div class="img-overlay">
                        <div class="row">
                            {{> molecules-media-block-holder-specific(size:1, item-count:"one", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:true, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                    {{> molecules-media-block-holder-footer}}
                    {{/specific-items-top-story-one-column-1st}}

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 wg-area-1c">
                <!-- devider -->
                <div class="media-block-wrap">
                    {{#specific-items-top-story-one-column-2nd}}
                    {{> molecules-media-block-holder-header}}
                    <div class="img-overlay">
                        <div class="row">
                            {{> molecules-media-block-holder-specific(size:1, item-count:"one", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:true, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                    {{> molecules-media-block-holder-footer}}
                    {{/specific-items-top-story-one-column-2nd}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 wg-area-1c">
                <!-- devider -->
                <div class="media-block-wrap">
                    {{#specific-items-top-story-one-column-3rd}}
                    {{> molecules-media-block-holder-header}}
                    <div class="img-overlay">
                        <div class="row">
                            {{> molecules-media-block-holder-specific(size:1, item-count:"one", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:true, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                    {{> molecules-media-block-holder-footer}}
                    {{/specific-items-top-story-one-column-3rd}}
                </div>
            </div>


        </div><!-- /.row -->
        <!-- row #6 -->

        <hr />

        <!-- row #7 -->
        <div class="row">

            <div class="media-block-wrap col-xs-12 col-sm-12 col-md-8 col-lg-8 wg-area-2c">

                {{> molecules-media-block-holder-header}}
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                        <div class="row">
                            {{> molecules-media-block-holder(size:3, item-count:"two", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 follow-up-list">
                        <div class="row">
                            {{> molecules-media-block-holder(size:4, item-count:"four", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:false, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="media-block-wrap col-lg-4 col-md-4 col-sm-12 col-xs-12 wg-area-1c">
                <h3 class="section-head">{{section-head.blogs-title}}</h3>
                <div class="row">
                    {{> molecules-media-block-holder(size:4, item-count:"three", class:"col-xs-12 col-sm-6 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:false, showCategory:false, showTime:false, showDate:true, showDateRelative:false, showCounter:false,horizontal:true) }}
                </div>
            </div>

        </div><!-- /.row -->
    </div><!-- /.container-->
    {{> molecules-media-slider:img-overlay }}
    <div class="container">
        <!-- row #8 -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left wg-area-4c">
                <!-- devider -->
                <div class="media-block-wrap">
                    {{> molecules-media-block-holder-header}}
                    <div class="img-overlay">
                        <div class="row">
                            {{> molecules-media-block-holder(size:1, item-count:"one",  class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:true, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                    {{> molecules-media-block-holder-footer}}
                </div>
            </div>
        </div><!-- /.row -->
        <!-- row #9 -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-left wg-area-3c">
                <!-- devider -->
                <div class="media-block-wrap">
                    {{> molecules-media-block-holder-header}}
                    <div class="img-overlay">
                        <div class="row">
                            {{> molecules-media-block-holder(size:1, item-count:"one",  class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:true, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                    {{> molecules-media-block-holder-footer}}
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-->
</div><!-- /.page-->

{{^page-no-header-no-footer}}   <!-- if not tru, will display header & footer - USED for Quiz-embedded page -->
{{> molecules-footer }}
{{/page-no-header-no-footer}}
