{{^page-no-header-no-footer}}<!-- if not tru, will display header & footer - USED for Quiz-embedded page -->
{{> molecules-header }}
{{/page-no-header-no-footer}}

<div id="content">
    <div class="wrap area-pg-title hlight">
        <div class="container">
            {{> molecules-page-title }}
        </div>
    </div>
    <div class="hlight">
        <div class="container">
            <!--bob wodget (not enabled)-->
        </div>
    </div>

    <div class="primaryContent">
        <div class="container">
            <!-- first row - 1x 4c widget -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wg-area-4c">
                    {{#comments-widget}}
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            <div class="comments-wg comments-list">
                                {{> atoms-button-standard--icon:btn--secondary btn--refresh active(btn_text.standard:"New Comments Available",btn-icon:refresh)}}
                                <ul class="comments-form">
                                    {{#comments}}
                                    <li class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                        {{> molecules-comment-widget-item }}
                                    </li>
                                    {{/comments}}
                                </ul>
                            </div>

                        </div>
                        {{> molecules-media-block-holder-footer}}
                    </div>
                    {{/comments-widget}}
                </div>
            </div> <!--row-->
            <!-- second row - 2c  widget-->
            <div class="row">


                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 wg-area-2c">
                    {{#comments-widget}}
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            <div class="comments-wg comments-list">
                                {{> atoms-button-standard--icon:btn--secondary btn--refresh active(btn_text.standard:"New Comments Available",btn-icon:refresh)}}
                                <ul class="comments-form">
                                    {{#comments}}
                                    <li class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        {{> molecules-comment-widget-item }}
                                    </li>
                                    {{/comments}}
                                </ul>
                            </div>

                        </div>
                        {{> molecules-media-block-holder-footer}}
                    </div>
                    {{/comments-widget}}
                </div>


                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                    {{#comments-widget}}
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            <div class="comments-wg comments-list">
                                {{> atoms-button-standard--icon:btn--secondary btn--refresh active(btn_text.standard:"New Comments Available",btn-icon:refresh)}}
                                <ul class="comments-form">
                                    {{#comments}}
                                    <li class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        {{> molecules-comment-widget-item }}
                                    </li>
                                    {{/comments}}
                                </ul>
                            </div>

                        </div>
                        {{> molecules-media-block-holder-footer}}
                    </div>
                    {{/comments-widget}}
                </div>

            </div>
            <!-- first row - 1x 3c widget -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wg-area-3c">
                    {{#comments-widget}}
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            <div class="comments-wg comments-list">
                                {{> atoms-button-standard--icon:btn--secondary btn--refresh (btn_text.standard:"New Comments Available",btn-icon:refresh)}}
                                <ul class="comments-form">
                                    {{#comments}}
                                    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        {{> molecules-comment-widget-item }}
                                    </li>
                                    {{/comments}}
                                </ul>
                            </div>

                        </div>
                        {{> molecules-media-block-holder-footer}}
                    </div>
                    {{/comments-widget}}
                </div>
            </div> <!--row-->

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 wg-area-2c">
                    <div class="media-block-wrap img-overlay">
                        <!-- TOP Story -->
                        <div class="row">
                            {{> molecules-media-block-holder(size:1, item-count:"one", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:true, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                    <div class="media-block-wrap">
                        <!-- News in brief -->
                        <h3 class="section-head">News in brief</h3>
                        <div class="row">
                            {{> molecules-media-block-holder(size:4, item-count:"four", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:false, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}

                        </div>
                        <a class="link-more" href="#">More in archive</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                    <div class="media-block-wrap">
                        <!--special-sidebar-->
                        <!-- VIDEO - TOP -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 ">
                                <div class="row">
                                    {{> molecules-media-block-holder(size:4, item-count:"three", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                                </div>
                            </div>
                            <!--<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 follow-up-list">
                                <div class="row">
                                    {{!> molecules-media-block-holder(size:4, item-count:"two",  class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div> <!--row-->
            <!-- second row - 4x 1c widget-->
            <div class="row sm-clear-third">
                {{#specific-items_second-row_first}}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder-specific(size:2, item-count:"one", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                </div>
                {{/specific-items_second-row_first}}
                {{#specific-items_second-row_second}}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder-specific(size:2, item-count:"one", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                </div>
                {{/specific-items_second-row_second}}
                <!--<div class="clearfix visible-sm"></div>-->
                {{#specific-items_second-row_third}}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder-specific(size:2, item-count:"one", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                </div>
                {{/specific-items_second-row_third}}
                {{#specific-items_second-row_forth}}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder-specific(size:2, item-count:"one", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                </div>
                {{/specific-items_second-row_forth}}
            </div> <!--row-->
            <!-- third row - 1x 4c widget -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wg-area-4c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder(size:4, item-count:"eight", class:"col-xs-12 col-sm-6 col-md-3 col-lg-3", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                        </div>
                    </div>
                </div>
            </div> <!--row-->
            <!-- forth row - 4c widget-->
            <div class="row sm-clear-third">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wg-area-4c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder(size:2, item-count:"four", class:"col-xs-12 col-sm-6 col-md-3 col-lg-3", showIntro:true, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                </div>

            </div> <!--row-->
        </div><!-- /.container-->

    </div><!-- /.primaryContent-->
    <!-- FRED -->
    {{> molecules-media-slider:img-overlay }}
    <!-- /FRED -->
    <div class="secondaryContent">

        <div class="container">
            <!--fifth row - 2x 2col widget-->
            <div class="row">
                {{#specific-items_forth-row_first}}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  wg-area-2c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder-specific(size:2, item-count:"one", class:"col-xs-12 col-sm-6 col-md-6 col-lg-6", showIntro:false, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                </div>
                {{/specific-items_forth-row_first}}
                {{#specific-items_forth-row_second}}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 wg-area-2c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder-specific(size:2, item-count:"one", class:"col-xs-12 col-sm-6 col-md-6 col-lg-6", showIntro:false, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                </div>
                {{/specific-items_forth-row_second}}
            </div> <!--row-->
            <!--sixth row - 4x 1c widget-->
            <div class="row sm-clear-third">
                {{#specific-items_fifth-row_first}}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder-specific(size:4, item-count:"two", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:true, showDateRelative:false, showCounter:false,horizontal:true) }}
                        </div>
                    </div>
                </div>
                {{/specific-items_fifth-row_first}}
                {{#specific-items_fifth-row_second}}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder-specific(size:4, item-count:"two", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:true, showDateRelative:false, showCounter:false,horizontal:true) }}
                        </div>
                    </div>
                </div>
                {{/specific-items_fifth-row_second}}
                <!--<div class="clearfix visible-sm"></div>-->
                {{#specific-items_fifth-row_third}}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder-specific(size:4, item-count:"two", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:true, showDateRelative:false, showCounter:false,horizontal:true) }}
                        </div>
                    </div>
                </div>
                {{/specific-items_fifth-row_third}}
                {{#specific-items_fifth-row_forth}}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder-specific(size:4, item-count:"two", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:true, showDateRelative:false, showCounter:false,horizontal:true) }}
                        </div>
                    </div>
                </div>
                {{/specific-items_fifth-row_forth}}




            </div> <!--row-->
            <!--seventh row - 2x 2col widget -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 wg-area-2c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder(size:2, item-count:"two", class:"col-xs-12 col-sm-6 col-md-6 col-lg-6", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 wg-area-2c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder(size:2, item-count:"two", class:"col-xs-12 col-sm-6 col-md-6 col-lg-6", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                        </div>
                    </div>
                </div>
            </div> <!--row-->
            <!-- eigth row - 4x 1c widget-->
            <div class="row sm-clear-third">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder(size:4, item-count:"two", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:true, showDateRelative:false, showCounter:false,horizontal:true) }}
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder(size:4, item-count:"two", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:true, showDateRelative:false, showCounter:false,horizontal:true) }}
                        </div>
                    </div>
                </div>

                <!--<div class="clearfix visible-sm"></div>-->

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder(size:4, item-count:"two", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:true, showDateRelative:false, showCounter:false,horizontal:true) }}
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 wg-area-1c">
                    <div class="media-block-wrap">
                        {{> molecules-media-block-holder-header}}
                        <div class="row">
                            {{> molecules-media-block-holder(size:4, item-count:"two", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:true, showDateRelative:false, showCounter:false,horizontal:true) }}
                        </div>
                    </div>
                </div>





            </div> <!--row-->
        </div><!-- /.container-->
    </div><!-- /.secondaryContent-->
</div><!-- /#content-->
{{^page-no-header-no-footer}}   <!-- if not tru, will display header & footer - USED for Quiz-embedded page -->
{{> molecules-footer }}
{{/page-no-header-no-footer}}
