{{^page-no-header-no-footer}}<!-- if not tru, will display header & footer - USED for Quiz-embedded page -->
{{> molecules-header }}
{{/page-no-header-no-footer}}

<div id="content">
    {{> molecules-section-page-title-wrapper }}
    <div class="primaryContent">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 pull-left">

                    <!-- -->
                    <!-- TOP Story -->
                    <!-- -->


                    <div class="media-block-wrap">
                        {{#specific-items-Top-story-first}}
                        {{> molecules-media-block-holder-header}}
                        {{/specific-items-Top-story-first}}

                        <div class="row">

                            <!-- TOP Story - first -->
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                {{#specific-items-Top-story-first}}
                                <div class="row">
                                    <h2>molecules-media-block-holder-specific #1</h2>
                                    {{> molecules-media-block-holder-specific(size:2, item-count:"one", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:true, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                                </div>
                                {{/specific-items-Top-story-first}}
                                <!-- if specific items not set -->
                                {{^specific-items-Top-story-first}}
                                <div class="row">
                                    <h2>molecules-media-block-holder #2</h2>
                                    {{#media-block-1}}
                                    {{> molecules-media-block }}
                                    {{/media-block-1}}
                                </div>
                                {{/specific-items-Top-story-first}}
                            </div>

                            <!-- TOP Story - secondary list -->
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 follow-up-list">
                                <div class="row">
                                    <h2>molecules-media-block-holder #3</h2>
                                    {{> molecules-media-block-holder(size:4, item-count:"four",  class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:true, showCounter:false,horizontal:true) }}
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        {{> molecules-media-block-holder-footer}}
                    </div>

                    <!-- -->
                    <!-- SUB stories -->
                    <!-- -->

                    <div class="row">
                        {{#specific-items-sub-stories }}
                        <div class="media-block-wrap col-xs-12 col-sm-12 col-md-12">
                            <div class="row">
                                <h2>molecules-media-block-holder-specific #4</h2>
                                {{> molecules-media-block-holder-specific(size:2, item-count:"two", class:"col-xs-12 col-sm-6 col-md-6 col-lg-6", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                            </div>
                        </div>
                        {{/specific-items-sub-stories }}

                        <!-- if specific items not set -->
                        {{^specific-items-sub-stories }}
                        <div class="media-block-wrap col-xs-12 col-sm-12 col-md-12">
                            <div class="row">
                                <h2>molecules-media-block-holder #5</h2>
                                {{> molecules-media-block-holder(size:2, item-count:"two", class:"col-xs-12 col-sm-6 col-md-6 col-lg-6", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                            </div>
                        </div>
                        {{/specific-items-sub-stories }}
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right">
                    <div class="special-sidebar media-block-wrap">
                        <div class="row">

                            <!-- Special gray sidebar - TOP right - first item -->
                            {{#specific-items-top-right-first}}
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {{> molecules-media-block-holder-header}}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                <div class="row">
                                    <h2>molecules-media-block-holder-specific #6</h2>
                                    {{> molecules-media-block-holder-specific(size:2, item-count:"one", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                                </div>
                                {{!> molecules-media-holder}}
                            </div>
                            {{/specific-items-top-right-first}}
                            <!-- if specific items not set -->
                            {{^specific-items-top-right-first}}
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {{> molecules-media-block-holder-header}}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                                <div class="row">
                                    <h2>molecules-media-block-holder #7</h2>
                                    {{> molecules-media-block-holder(size:2, item-count:"one", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                                </div>
                                {{!> molecules-media-holder}}
                            </div>
                            {{/specific-items-top-right-first}}

                            {{#specific-items-top-right}}
                            <!-- Special gray sidebar - TOP right - other items -->
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 follow-up-list">
                                <div class="row">
                                    <h2>molecules-media-block-holder-specific #8</h2>
                                    {{> molecules-media-block-holder-specific(size:4, item-count:"five",  class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {{> molecules-media-block-holder-footer}}
                            </div>
                            {{/specific-items-top-right}}
                            <!-- if specific items not set -->
                            {{^specific-items-top-right}}
                            <!-- Special gray sidebar - TOP right - other items -->
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 follow-up-list">
                                <div class="row">
                                    <h2>molecules-media-block-holder #8</h2>
                                    {{> molecules-media-block-holder(size:4, item-count:"five",  class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                {{> molecules-media-block-holder-footer}}
                            </div>
                            {{/specific-items-top-right}}
                        </div>
                        <!-- /.row -->

                    </div>
                </div>


                <div class="media-block-wrap col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <hr />
                    <!-- Thumbnails -->
                    {{#specific-items-horizontal-strip }}
                    <!-- if specific items -->
                    {{> molecules-media-block-holder-header}}
                    <div class="row">
                        <h2>molecules-media-block-holder-specific #9</h2>
                        {{> molecules-media-block-holder-specific(size:4, item-count:"six", class:"col-xs-12 col-sm-6 col-md-4 col-lg-4", showIntro:false, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                    </div>
                    {{/specific-items-horizontal-strip }}


                    {{^specific-items-horizontal-strip }}
                    <!-- if specific items not set -->
                    <div class="row">
                        <h2>molecules-media-block-holder #10</h2>
                        {{> molecules-media-block-holder(size:4, item-count:"six", class:"col-xs-12 col-sm-6 col-md-4 col-lg-4", showIntro:false, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                    </div>
                    {{/specific-items-horizontal-strip }}
                </div>

                <!--
                <div class="media-block-wrap col-sm-12 col-md-12 col-lg-12 ">
                    <hr/>
                    <div class="row">
                    {{! > molecules-media-block-holder(size:4, item-count:"six", class:"col-sm-6 col-md-4 col-lg-4", showIntro:false, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                    </div>
                </div>
                -->

            </div>
            <!-- /.row -->
        </div><!-- /.container-->
    </div><!-- /.primaryContent-->
    <!-- FRED -->
    {{> molecules-media-slider }}
    <!-- / FRED -->

    <div class="secondaryContent">
        <div class="container">
            <div class="row">

                <div class="media-block-wrap col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    {{#specific-items-bottom-left }}
                    {{> molecules-media-block-holder-header}}
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <div class="row">
                                <h2>molecules-media-block-holder-specific #10</h2>
                                {{> molecules-media-block-holder-specific(size:3, item-count:"two", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                            </div>

                        </div>
                        {{/specific-items-bottom-left  }}
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 follow-up-list">
                            <div class="row">
                                <h2>molecules-media-block-holder #11</h2>
                                {{> molecules-media-block-holder(size:4, item-count:"four", class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:false, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media-block-wrap col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h3 class="section-head">{{section-head.blogs-title}}</h3>
                    <div class="row">
                        <h2>molecules-media-block-holder #12</h2>
                        {{> molecules-media-block-holder(size:4, item-count:"four", class:"col-xs-12 col-sm-6 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:false, showCategory:false, showTime:false, showDate:true, showDateRelative:false, showCounter:false,horizontal:true) }}
                    </div>
                </div>

            </div><!-- /.row -->
        </div><!-- /.container-->
    </div><!-- /.secondaryContent-->
</div>
<!-- /.page-->

{{^page-no-header-no-footer}}   <!-- if not tru, will display header & footer - USED for Quiz-embedded page -->
       {{> molecules-footer }}
{{/page-no-header-no-footer}}
