<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="info-404">
                    <h1>{{title}}</h1>
                    <p class="msg">{{error}}</p>
                    <p>
                        <i class="ico ico-chevron-forward-rounded"></i>{{{option1}}}
                    </p>
                    <!--
                    <p>
                        {{option2}}<a href="/sitemap.html">{{sitemap}}</a>
                    </p>
                    -->
                </div>
            </div>
        </div>
    </div><!-- /.container-->
</div><!-- /.page-->
