<div id="content">
  <div class="hdr-container">
    <div class="container">

        <h1>{{try-again}}</h1>

    </div><!-- /.container-->
  </div><!-- /.hdr-container -->
</div><!-- /.page-->
