<div class="page pg-entity-sites" id="content">
    <div class="container">
                    
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="categories">

                <li>
                    <h5 class="category">Worldwide</h5>
                    <div class="site">
                        <a href="http://www.rferl.org">
                            <span class="title">
                                English
                            </span>
                            <span class="url">
                                rferl.org
                            </span>
                        </a>
                    </div>
                </li>
                <li>
                    <h5 class="category">Eurasia</h5>
                    <div class="site">
                        <a href="http://www.currenttime.tv/">
                            <span class="title">
                                Настоящее время
                            </span>
                            <span class="url">
                                currenttime.tv
                            </span>
                        </a>
                    </div>
                </li>
                <li>
                    <h5 class="category">Eastern Europe</h5>
                    <div class="site">
                        <a href="http://www.svaboda.org/">
                            <span class="title">
                                Белару́сь
                            </span>
                            <span class="url">
                                svaboda.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.radiosvoboda.org/">
                            <span class="title">
                                Україна
                            </span>
                            <span class="url">
                                radiosvoboda.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.europalibera.org/">
                            <span class="title">
                                România
                            </span>
                            <span class="url">
                                europalibera.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://ua.krymr.com/">
                            <span class="title">
                                Qırım
                            </span>
                            <span class="url">
                                ua.krymr.com
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://ktat.krymr.com/">
                            <span class="title">
                                Крим
                            </span>
                            <span class="url">
                                ktat.krymr.com
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://ru.krymr.com/">
                            <span class="title">
                                Крым
                            </span>
                            <span class="url">
                                ru.krymr.com
                            </span>
                        </a>
                    </div>
                </li>
                <li>
                    <h5 class="category">Balkans</h5>
                    <div class="site">
                        <a href="http://www.slobodnaevropa.org/">
                            <span class="title">
                                Bosna i Hercegovina / Србија / Hrvatska
                            </span>
                            <span class="url">
                                slobodnaevropa.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.makdenes.org/">
                            <span class="title">
                                Македонија
                            </span>
                            <span class="url">
                                makdenes.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.evropaelire.org/">
                            <span class="title">
                                Kosova
                            </span>
                            <span class="url">
                                evropaelire.org
                            </span>
                        </a>
                    </div>
                </li>
                <li>
                    <h5 class="category">Russia</h5>
                    <div class="site">
                        <a href="http://www.svoboda.org/">
                            <span class="title">
                                Россия
                            </span>
                            <span class="url">
                                svoboda.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.azatliq.org/">
                            <span class="title">
                                Татарстан
                            </span>
                            <span class="url">
                                azatliq.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.radiomarsho.com/">
                            <span class="title">
                                Къилбаседан Кавказ
                            </span>
                            <span class="url">
                                radiomarsho.com
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.radioerkenli.com/">
                            <span class="title">
                                North caucasus (Avar)
                            </span>
                            <span class="url">
                                radioerkenli.com
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.khutynygharadio.com/">
                            <span class="title">
                                North caucasus (Circassian)
                            </span>
                            <span class="url">
                                khutynygharadio.com
                            </span>
                        </a>
                    </div>
                </li>
                <li>
                    <h5 class="category">Caucasus</h5>
                    <div class="site">
                        <a href="http://www.azatutyun.am/">
                            <span class="title">
                                Հայաստան
                            </span>
                            <span class="url">
                                azatutyun.am
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://rus.azatutyun.am/">
                            <span class="title">
                                Армения
                            </span>
                            <span class="url">
                                rus.azatutyun.am
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.azadliq.org/">
                            <span class="title">
                                Azərbaycan
                            </span>
                            <span class="url">
                                azadliq.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.radioazadlyg.org/">
                            <span class="title">
                                Азербайджан
                            </span>
                            <span class="url">
                                radioazadlyg.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.radiotavisupleba.ge/">
                            <span class="title">
                                საქართველო
                            </span>
                            <span class="url">
                                radiotavisupleba.ge
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.ekhokavkaza.com/">
                            <span class="title">
                                Грузия
                            </span>
                            <span class="url">
                                ekhokavkaza.com
                            </span>
                        </a>
                    </div>
                </li>
                <li>
                    <h5 class="category">Middle East</h5>
                    <div class="site">
                        <a href="http://www.radiofarda.com/">
                            <span class="title">
                                ایران‎
                            </span>
                            <span class="url">
                                radiofarda.com
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.iraqhurr.org/">
                            <span class="title">
                                العراق‎
                            </span>
                            <span class="url">
                                iraqhurr.org
                            </span>
                        </a>
                    </div>
                </li>

                <li>
                    <h5 class="category">Central Asia</h5>
                    <div class="site">
                        <a href="http://www.azattyq.org/">
                            <span class="title">
                                Қазақстан
                            </span>
                            <span class="url">
                                azattyq.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://rus.azattyq.org/">
                            <span class="title">
                                Казахстан
                            </span>
                            <span class="url">
                                rus.azattyq.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.azattyk.kg/">
                            <span class="title">
                                Кыргызстан
                            </span>
                            <span class="url">
                                azattyk.kg
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://rus.azattyk.org/">
                            <span class="title">
                                Киргизия
                            </span>
                            <span class="url">
                                rus.azattyk.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.ozodi.org/">
                            <span class="title">
                                Тоҷикистон
                            </span>
                            <span class="url">
                                ozodi.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://rus.ozodi.org/">
                            <span class="title">
                                Таджикистан
                            </span>
                            <span class="url">
                                rus.ozodi.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.azathabar.com/">
                            <span class="title">
                                Türkmenistan
                            </span>
                            <span class="url">
                                azathabar.com
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.ozodlik.org/">
                            <span class="title">
                                Oʻzbekiston
                            </span>
                            <span class="url">
                                ozodlik.org
                            </span>
                        </a>
                    </div>
                </li>



                <li>
                    <h5 class="category">South Asia</h5>
                    <div class="site">
                        <a href="http://pa.azadiradio.org/">
                            <span class="title">
                                افغانستان
                            </span>
                            <span class="url">
                                pa.azadiradio.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://da.azadiradio.org/">
                            <span class="title">
                                افغانستان
                            </span>
                            <span class="url">
                                da.azadiradio.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://gandhara.rferl.org/">
                            <span class="title">
                                Afghanistan
                            </span>
                            <span class="url">
                                gandhara.rferl.org
                            </span>
                        </a>
                    </div>
                    <div class="site">
                        <a href="http://www.mashaalradio.org/">
                            <span class="title">
                                پاكستان‎
                            </span>
                            <span class="url">
                                mashaalradio.org
                            </span>
                        </a>
                    </div>
                </li>
            </ul>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-->
</div><!-- /.page-->
