<ul class="follow">
  <li>
    <a href="{{ link-socials-facebook }}" title="Facebook" class="btn btn-rounded btn-facebook colored">
      {{> atoms-ico:facebook }}
    </a>
  </li>
  <li>
    <a href="{{ link-socials-twitter }}" title="Twitter" class="btn btn-rounded btn-twitter colored">
        {{> atoms-ico:twitter }}
    </a>
  </li>
  <li>
    <a href="{{ link-socials-youtube }}" title="YouTube" class="btn btn-rounded btn-youtube colored">
      {{> atoms-ico:youtube }}
    </a>
  </li>
  <li>
    <a href="{{ link-socials-gplus }}" title="G+" class="btn btn-rounded btn-g-plus colored">
      {{> atoms-ico:g-plus }}
    </a>
  </li>  
</ul>
