<!--snippet wrapper-->
<div class="hdr-snippet">

    <!--snippet content-->
    <style>
        .hdr-snippet {
            position: absolute;
            right: 0;
            top: 50%;
            width: 51%;
            height: 100px;
            margin-top: -50px;
            line-height: 100px;
            pointer-events: none;
        }

        .hdr-snippet_whatsapp {
            float: left;
        }

        .btn-whatsapp--md-min,
        .btn-whatsapp--sm-max {
            list-style-type: none;
        }

        .hdr-snippet_whatsapp a {
            pointer-events: all;
        }

            .hdr-snippet_whatsapp a:hover {
                text-decoration: none;
                opacity: 0.8;
            }

        .hdr-snippet_whatsapp p {
            color: #d8ab3c;
            font-size: 21px;
            display: inline;
            margin-right: 5px;
        }

        .hdr-snippet_whatsapp img {
            width: 50px;
            vertical-align: middle;
        }

        .sticky-nav-wrap .hdr-snippet_whatsapp img {
            margin-top: 5px;
            width: 30px;
        }

        .sticky-nav-wrap .hdr-snippet_whatsapp p {
            display: none;
        }

        @media (max-width:639px) {
            .hdr-snippet {
                width: 100%;
                text-align: center;
                top: 0;
                height: 78px;
                line-height: 78px;
                margin-top: 0;
            }

            .hdr-snippet_whatsapp {
                float: none;
            }
        }

        @media (max-width:480px) {
            .hdr-snippet_whatsapp p {
                font-size: 16px;
            }

            .hdr-snippet_whatsapp img {
                width: 40px;
            }
        }

        @media (max-width:380px) {
            .hdr-snippet_whatsapp p {
                display: none;
            }

            .hdr-snippet_whatsapp img {
                width: 45px;
            }
        }
    </style>


    <div dir="ltr" class="hdr-snippet_whatsapp">
        <a href="https://web.whatsapp.com/send?phone=+1(202)6074881" class="btn-whatsapp--md-min" target="_blank">
            <p class="font-2">0012026074881</p>
            <img src="https://gdb.alhurra.eu/9CDA872E-E8B5-4E74-BA4A-7C0E978A0274.png">
        </a>
        <a href="whatsapp://send?phone=+1(202)6074881" class="btn-whatsapp--sm-max">
            <p class="font-2">0012026074881</p>
            <img src="https://gdb.alhurra.eu/9CDA872E-E8B5-4E74-BA4A-7C0E978A0274.png">
        </a>
    </div>



    <!-- /snippet content-->


</div>
<!-- /snippet wrapper-->