<div class="hdr-pop-out">
        <div class="container">
        <a href="{{link-home}}" target="_blank" id="logo">
            <img src="../../css/{{entity}}/{{site}}/img/logo-compact.png" class="small" alt="logo - fallback" />
        </a>
    </div>
</div>

