<!-- 

    TO DO:
    - Study case:
        1.) Let's say, we want to have a thumbnail with each content type icon (audio, video, document, etc...; 9pcs in total)
            Do we have to create 9 molecules? Is there some elegant solution?


-->
<div class="thumb fullWidth ratio-16-9">
    {{> atoms-image_ratio_16x9 }}
    {{> atoms-ico:video }}
</div>