<!-- 

    TO DO:
    - fix styles... 
    - class "rounded" shouldn't be on <img>, but on "thumb"


-->

<div class="thumb listThumb">
    <img src="{{ img.square-xsmall.src }}" alt="{{ img.square-xsmall.alt }}" class="rounded" />
</div>