<div class="thumbnail_media">

    {{> molecules-thumbnail_full-width_16x9 }}
    <a class="link" href="/a/tymoshenko-murder-charge-prosecutor-ukraine/25171391.html">Investigators Look For Clues To Crash In Kazan </a>
    <p class="intro">The to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn't listen.</p>
</div>
