<div class="content-body">
    <div class="row">        
        <div class="col-xs-12">                     
            <div class="waves bottom-offset">            
                {{> molecules-tabs:nav-tabs--level-2 }}
                {{#specific-items}}                    
                {{> molecules-item-wave }}
                {{/specific-items}}
            </div>                       
        </div>
    </div><!-- /.row -->
</div>