{{!> atoms-button-standard--icon:btn-link btn-print(btn_text.standard:"Link like Button",btn-icon:print)}}
<button class="btn btn-link btn-print" onclick="window.print();return false" title="(CTRL+P)">
    <i class="ico ico-print"></i>Print
</button>