<div class="section-head">
Widget    
</div>
<ul>
    {{#list-of-media-blocks}}
    <li style='border-bottom:1px solid #ccc; padding: 10px 0;'>
        {{> molecules-test-media-blog }}
    </li>
    {{/list-of-media-blocks}}

</ul>


