<a href="{{link-home}}" class="fl" id="logo">
    <img src="../../css/{{entity}}/{{site}}/img/logo.png" alt="{{service_name}}" />
</a>
<img src="../../css/{{entity}}/{{site}}/img/logo-print.gif" class="logo-print" alt="{{service_name}} print-logo" />
