{{#has-author-hightlight }}
<ul class="author-hlight">
    {{#authors }}
    {{#item }}
    <li>
        {{> molecules-author}}
    </li>
    {{/item }}
    {{/authors}}
</ul>
{{/has-author-hightlight }}