{{#widget-header }}
	<h2 class="section-head">
    {{#widget-header-link}}
		<a class="" href="{{widget-header-link}}">
			<i class="ico ico-chevron-forward pull-right flip"></i>
    {{/widget-header-link}}
        {{widget-header}}
    {{#widget-header-link}}  
		</a>
    {{/widget-header-link}}
	</h2>
{{/widget-header }}
