{{#form-select-menu}}
<fieldset>
    <div class="form-select field-container {{styleModifier}}">
        {{#label-text}}{{> atoms-label-elem-start }}{{label-text}}{{> atoms-label-elem-end }}{{/label-text}}
        {{> atoms-select-elem-start }}
            {{> atoms-select-menu-option-start }}{{option-text-1}}{{> atoms-select-menu-option-end }}
            {{> atoms-select-menu-option-start }}{{option-text-2}}{{> atoms-select-menu-option-end }}
            {{> atoms-select-menu-option-start }}{{option-text-3}}{{> atoms-select-menu-option-end }}
            {{> atoms-select-menu-option-start }}{{option-text-4}}{{> atoms-select-menu-option-end }}
            {{> atoms-select-menu-option-start }}{{option-text-5}}{{> atoms-select-menu-option-end }}
            {{> atoms-select-menu-option-start }}{{option-text-6}}{{> atoms-select-menu-option-end }}
            {{> atoms-select-menu-option-start }}{{option-text-7}}{{> atoms-select-menu-option-end }}
        {{> atoms-select-elem-end }}
    </div>
</fieldset>
{{/form-select-menu}}
