<li class="form-fake-select__item {{#fake-select-item-modifier}} {{fake-select-item-modifier}}{{/fake-select-item-modifier}}"><input type="radio" name="patternlab-choice" id="patternlab-c{{id}}" value="patternlab-c{{id}}">
