<div class="tab-content Live{{navi-type}}{{tab-id}}">
    {{#header.upcoming}}<h3 class="section-head">{{header.upcoming}}</h3>{{/header.upcoming}}
    <!-- for mobile -->
    <div class="">
        {{#has-specific-items-upcoming }}
        {{> molecules-media-block-holder-specific (size:4, item-count:"three", class:"", showIntro:false, showTitle:true, showImg:false, showCategory:false, showTime:true, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
        {{/has-specific-items-upcoming }}
        {{^has-specific-items-upcoming }}
        {{> molecules-media-block-holder (size:4, item-count:"three", class:"", showIntro:false, showTitle:true, showImg:false, showCategory:false, showTime:true, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
        {{/has-specific-items-upcoming }}
    </div>
    <!-- /for mobile -->
</div>
