<div class="media-block-wrap custom-links">
    <h3 class="section-head">{{header.more}}</h3>
    <!-- for mobile -->
    <ul class="subitems">
        {{#subitems }}
        <li class="subitem">
            <a href="{{link}}" class="handler">
                {{subitem-label}}
            </a>
        </li>
        {{/subitems }}
    </ul>
    <!-- /for mobile -->
</div>
