<div class="multimedia-context-menu">
  <ul>
    <li>
      <a href="{{link-multimedia-context-menu-schedule}}">
        <i class="ico ico-clock"></i>
        <span>{{ multimedia_context_menu.schedule }}</span>
      </a>
    </li>
    <li>
      <a href="{{link-multimedia-context-menu-programs}}">
        <i class="ico ico-grid"></i>
        <span>{{ multimedia_context_menu.programs }}</span>      
    </a>
    </li>
    <li>
      <a href="{{link-multimedia-context-menu-podcast}}">
        <i class="ico ico-podcast"></i>
        <span>{{ multimedia_context_menu.podcast }}</span>
    </a>
    </li>
  </ul>
</div>