<div class="entity-sites">
  <div class="container">
    <ul class="categories">
        <li>
          <h5 class="category">English Worldwide</h5>
          <div class="site">
            <a href="http://www.voanews.com">
              <span class="title">
                English
              </span>
              <span class="url">
                voanews.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://learningenglish.voanews.com">
              <span class="title">
                Learning English
              </span>
              <span class="url">
                learningenglish.voanews.com
              </span>
            </a>
          </div>
        </li>
        <li>
          <h5 class="category">Eastern &amp; Central Europe</h5>
          <div class="site">
            <a href="http://www.zeriamerikes.com">
              <span class="title">
                Shqip
              </span>
              <span class="url">
                Zeriamerikes.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.vijestiglasaamerike.com">
              <span class="title">
                Bosanski
              </span>
              <span class="url">
                vijestiglasaamerike.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://gr.voanews.com">
              <span class="title">
                Ελληνικά
              </span>
              <span class="url">
                gr.voanews.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://mk.voanews.com">
              <span class="title">
                Македонски
              </span>
              <span class="url">
                mk.voanews.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.glasamerike.net">
              <span class="title">
                Srpski
              </span>
              <span class="url">
                glasamerike.net
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.chastime.com">
              <span class="title">
                Українська
              </span>
              <span class="url">
                chastime.com
              </span>
            </a>
          </div>
        </li>
        <li>
          <h5 class="category">Eurasia</h5>
          <div class="site">
            <a href="http://www.amerikayidzayn.com">
              <span class="title">
                Հայերեն
              </span>
              <span class="url">
                amerikayidzayn.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.amerikaninsesi.org">
              <span class="title">
                Azerbaijani
              </span>
              <span class="url">
                amerikaninsesi.org
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voanews.com/georgian">
              <span class="title">
                ქართული
              </span>
              <span class="url">
                amerikiskhma.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.golos-ameriki.ru">
              <span class="title">
                Русский
              </span>
              <span class="url">
                golos-ameriki.ru
              </span>
            </a>
          </div>
        </li>
        
        <li>
          <h5 class="category">East &amp; Southeast Asia</h5>
          <div class="site">
            <a href="http://www.burmese.voanews.com">
              <span class="title">
                Burmese
              </span>
              <span class="url">
                burmese.voanews.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voacantonese.com">
              <span class="title">
                粵語
              </span>
              <span class="url">
                voacantonese.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voachinese.com">
              <span class="title">
                中文
              </span>
              <span class="url">
                voachinese.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voaindonesia.com">
              <span class="title">
                Bahasa Indonesia
              </span>
              <span class="url">
                voaindonesia.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.khmer.voanews.com">
              <span class="title">
                ខ្មែរ
              </span>
              <span class="url">
                khmer.voanews.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voacambodia.com">
              <span class="title">
                Khmer
              </span>
              <span class="url">
                voacambodia.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voakorea.com">
              <span class="title">
                한국어
              </span>
              <span class="url">
                voakorea.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://lao.voanews.com">
              <span class="title">
                ລາວ
              </span>
              <span class="url">
                lao.voanews.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voathai.com">
              <span class="title">
                ไทย
              </span>
              <span class="url">
                voathai.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voatibetan.com">
              <span class="title">
                བོད་ཡིག
              </span>
              <span class="url">
                voatibetan.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voatibetanenglish.com">
              <span class="title">
                Tibetan
              </span>
              <span class="url">
                voatibetanenglish.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voatiengviet.com">
              <span class="title">
                Tiếng Việt
              </span>
              <span class="url">
                voatiengviet.com
              </span>
            </a>
          </div>
        </li>

      <li>
        <h5 class="category">Central Asia</h5>
        <div class="site">
          <a href="http://www.amerikaovozi.com">
            <span class="title">
              O‘zbek
            </span>
            <span class="url">
              amerikaovozi.com
            </span>
          </a>
        </div>
      </li>

      <li>
          <h5 class="category">South Asia</h5>
          <div class="site">
            <a href="http://www.voabangla.com">
              <span class="title">
                বাংলা
              </span>
              <span class="url">
                voabangla.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.darivoa.com">
              <span class="title">
                دری
              </span>
              <span class="url">
                darivoa.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.pashtovoa.com">
              <span class="title">
                پښتو
              </span>
              <span class="url">
                pashtovoa.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voadeewaradio.com">
              <span class="title">
                وی او اې ډيوه ريډیو
              </span>
              <span class="url">
                voadeewaradio.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.urduvoa.com">
              <span class="title">
                اردو
              </span>
              <span class="url">
                urduvoa.com
              </span>
            </a>
          </div>
        </li>
        <li>
          <h5 class="category">Africa</h5>
          <div class="site">
            <a href="http://www.voaafaanoromoo.com">
              <span class="title">
                Afaan Oromoo
              </span>
              <span class="url">
                voaafaanoromoo.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.amharic.voanews.com">
              <span class="title">
                አማርኛ
              </span>
              <span class="url">
                amharic.voanews.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.lavoixdelamerique.com">
              <span class="title">
                Français
              </span>
              <span class="url">
                lavoixdelamerique.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voahausa.com">
              <span class="title">
                Hausa
              </span>
              <span class="url">
                voahausa.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.radiyoyacuvoa.com">
              <span class="title">
                Kinyarwanda
              </span>
              <span class="url">
                radiyoyacuvoa.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.radiyoyacuvoa.com">
              <span class="title">
                Kirundi
              </span>
              <span class="url">
                radiyoyacuvoa.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voandebele.com">
              <span class="title">
                Ndebele
              </span>
              <span class="url">
                voandebele.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voaportugues.com">
              <span class="title">
                Português
              </span>
              <span class="url">
                voaportugues.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voashona.com">
              <span class="title">
                Shona
              </span>
              <span class="url">
                voashona.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voasomali.com">
              <span class="title">
                Soomaaliga
              </span>
              <span class="url">
                voasomali.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voaswahili.com">
              <span class="title">
                Kiswahili
              </span>
              <span class="url">
                voaswahili.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.tigrigna.voanews.com">
              <span class="title">
                ትግርኛ
              </span>
              <span class="url">
                tigrigna.voanews.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voazimbabwe.com">
              <span class="title">
                Zimbabwe
              </span>
              <span class="url">
                voazimbabwe.com
              </span>
            </a>
          </div>
        </li>
        <li>
          <h5 class="category">Middle East / North Africa</h5>
          <div class="site">
            <a href="http://ir.voanews.com">
              <span class="title">
                فارسی
              </span>
              <span class="url">
                ir.voanews.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.dengiamerika.com">
              <span class="title">
                كوردی
              </span>
              <span class="url">
                dengiamerika.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.dengeamerika.com">
              <span class="title">
                Kurdi
              </span>
              <span class="url">
                dengeamerika.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.amerikaninsesi.com">
              <span class="title">
                Türkçe
              </span>
              <span class="url">
                amerikaninsesi.com
              </span>
            </a>
          </div>
        </li>
        <li>
          <h5 class="category">Latin America</h5>
          <div class="site">
            <a href="http://www.voanouvel.com">
              <span class="title">
                Creole
              </span>
              <span class="url">
                voanouvel.com
              </span>
            </a>
          </div>
          <div class="site">
            <a href="http://www.voanoticias.com">
              <span class="title">
                Español
              </span>
              <span class="url">
                voanoticias.com
              </span>
            </a>
          </div>
        </li>
      </ul>

  </div>
</div>