<div class="back-to-top-nav disabled visible-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="#page" class="back-to-top-link" title="{{texts.back_top_top}}">
                    <i class="ico ico-chevron-up"></i>
                    <span class="text">{{texts.back_top_top}}</span>
                </a>
            </div>
        </div>
    </div>
</div>