<div class="pnl-srch-inpage">
    <div class="container">
      <form action="/s" id="form-searchPage" method="get" role="search">
      {{> molecules-search-element }}
      </form>
    </div>
</div>