<span class="srch-elem">
  <span class="input-wrap">
      <label for="id12345" class="sr-only">Search</label>
      <input type="text" accesskey="s" placeholder="{{btn_text.search}}" name="" id="id12345" />
  </span>     
  <button title="{{btn_text.search}}" class="btn btn-srch">
    <i class="ico ico-search"></i>
    <span class="text">{{btn_text.search}}</span>
  </button>
</span>
