<div class="fredContent">
    <div class="container">
        <div class="darkBackground">
            {{#specific-items-featured-slider}}
            {{> molecules-media-block-holder-header}}
            {{/specific-items-featured-slider}}

            {{> molecules-media-slider-buttons }}

            {{^specific-items-featured-slider}} <!--if not page specific (using default .listitems data )-->
            <div class="slider {{ styleModifier }}">
                <div class="row">
                    {{> molecules-media-block-holder:holder( size:3, item-count:ten, class:"col-xs-12 col-sm-6 col-md-4 col-lg-4", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                </div>
            </div>
            {{/specific-items-featured-slider}}

            {{#specific-items-featured-slider}} <!--if page specific-->
            <div class="slider {{ styleModifier }}">
                <div class="row">
                    {{> molecules-media-block-holder-specific:holder( size:3, item-count:ten, class:"col-xs-12 col-sm-6 col-md-4 col-lg-4", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
                </div>
            </div>
            {{/specific-items-featured-slider}}



            {{#specific-items-featured-slider}}
            {{> molecules-media-block-holder-footer}}
            {{/specific-items-featured-slider}}
        </div>
    </div>
</div>