<blockquote>
	<p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
	<p class="citation">Citation inside of block quotation .... orem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula tellus neque, dapibus feugiat dolor dignissim sit amet. Curabitur bibendum, sapien vel vehicula ullamcorper, ipsum sem tincidunt nulla.</p>
	<p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
</blockquote>