<!--this is not a HTML widget (user created), and also used for side information (not user creaded - simple text based) that is presented in Widget wrapper and has the same style-->
<div class="media-block-wrap">
    {{> molecules-_media-block-holder-header}}
    {{> molecules-content}}
    {{> molecules-_media-block-holder-footer}}
</div>