{{#region}}
<div class="region">

    <!--first widget-->
    <div class="media-block-wrap">
        <div class="img-overlay">
            {{> molecules-_media-block-holder-header}}
            <div class="row">
                {{> molecules-_media-block-holder(size:3, item-count:one, class:"col-xs-12 col-sm-12 col-md-12 col-lg-12", showIntro:true, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:false) }}
            </div>
            {{> molecules-_media-block-holder-footer}}
        </div>
    </div>
    <!--<div class="media-block-wrap">
        {{#specific-items-top-stories }}
        <h3 class="section-head">{{ widget-top-stories }}</h3>
        <div class="row">
            {{!> molecules-_media-block-holder-specific(size:4, class:"col-xs-12 col-sm-6 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
        </div>
        {{/specific-items-top-stories }}


        {{^specific-items-top-stories }}
        <h3 class="section-head">The first region widget</h3>
        <div class="row">
            {{!> molecules-_media-block-holder(size:4, item-count:four, class:"col-xs-12 col-sm-6 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:true, showCategory:true, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
        </div>
    </div>-->
    <!--before first widget / most popular-->
    {{> molecules-most-:numbered }}

    <!--second widget-->
    <div class="media-block-wrap">
        <h3 class="section-head">Second widget in the region</h3>
        <div class="row">
            {{> molecules-_media-block-holder(size:4, item-count:six, class:"col-xs-12 col-sm-6 col-md-12 col-lg-12", showIntro:false, showTitle:true, showImg:false, showCategory:false, showTime:false, showDate:false, showDateRelative:false, showCounter:false,horizontal:true) }}
        </div><!-- /.row -->
        {{/specific-items-top-stories }}
    </div>

    <!--third widget-->

</div>
{{/region}}