{{#tv-stream-widget}}

<div class="media-block first-item size-2">
    {{> molecules-media-placeholder-master }}
    <h4>
        {{#isLive}}<span class="badge badge-live">{{Live}}</span>{{/isLive}}{{title}}
    </h4>
</div>

{{/tv-stream-widget}}