<div class="table-container">
  <table>
	  <thead>
		  <tr>
			  <th>Table Heading 1</th>
			  <th>Table Heading 2</th>
			  <th>Table Heading 3</th>
			  <th>Table Heading 4</th>
			  <th>Table Heading 5</th>
		  </tr>
	  </thead>
	  <tfoot>
		  <tr>
			  <th>Table Footer 1</th>
			  <th>Table Footer 2</th>
			  <th>Table Footer 3</th>
			  <th>Table Footer 4</th>
			  <th>Table Footer 5</th>
		  </tr>
	  </tfoot>
	  <tbody>
	  <tr>
		  <td colspan="2">Table Cell 1</td>
		  <td>Table Cell 2</td>
		  <td>Table Cell 3</td>
		  <td>Table Cell 4</td>		
	  </tr>
	  <tr>
		  <td>Table Cell 1</td>
		  <td>Table Cell 2</td>
		  <td>Table Cell 3</td>
		  <td>Table Cell 4</td>
		  <td>Table Cell 5</td>
	  </tr>
	  <tr>
		  <td rowspan="2">Table Cell 1</td>
		  <td>Table Cell 2</td>
		  <td>Table Cell 3</td>
		  <td>Table Cell 4</td>
		  <td>Table Cell 5</td>
	  </tr>
	  <tr>
		  <td>Table Cell 2</td>
		  <td>Table Cell 3</td>
		  <td>Table&nbsp;Cell&nbsp;4&nbsp;-&nbsp;Text&nbsp;with&nbsp;non-breaking&nbsp;spaces</td>
		  <td>Table_Cell_5_no_wrap_very_long_text</td>
	  </tr>
	  </tbody>
  </table>
</div>  