
<div class="html5Player html5PlayerCanPlay html5MediaPlayer html5MediaPlayerAudio html5PlayerLive html5MediaPlayerRendered" data-mediatitle="" data-mediaid="27182079" style="width: 100%; height: 110px;">
    <audio data-autoplay="false" style="width: 100%;">
        <div class="flPlayer" data-configfilepath="" data-entity="RFE">
            <a href="http://get.adobe.com/flashplayer/">Get Adobe Flash Player</a>
        </div>
        <source data-src="{{media-url}}" type="audio/mpeg">
    {{> molecules-media-download }}
    </audio>
    <div class="html5PlayerControlPanel" style="display: block;">
        <div class="bar progressbar">
            <div class="indicator">
                <div class="loaded" style="width: 0%;"></div>
                <div class="filled played"></div>
            </div>
            <button type="button"><span>▶</span></button>
        </div>
        <div class="html5PlayerControlsLeft">
            <span class="html5PlayerBtn html5PlayerPlay"></span>
            <span class="html5PlayerBtn html5PlayerPause"></span>
            <span class="curTime" dir="ltr">0:00:00</span><span class="duration" dir="ltr"></span>
        </div>
        <div class="html5PlayerControlsRight">
            <span class="html5PlayerBtn html5PlayerMore" style="display: none;"></span>
            <span class="html5PlayerBtn html5PlayerSourceSwitch" style="display: none;"></span>
            <div class="mediaSwitchPanel"></div>
            <span class="html5PlayerBtn html5PlayerVolume"></span>
            <div class="bar volumebar">
                <div class="indicator">
                    <div class="filled volLevel" style="width: 75px;"></div>
                </div>
                <button type="button" style="left: 60px;"><span>▶</span></button>
            </div>
        </div>
    </div>
</div>




