
<div class="html5Player html5PlayerCanPlay html5MediaPlayer html5MediaPlayerVideo " data-mediatitle="xsaxasxas" data-mediaid="27121366">
    <video data-autoplay="false" poster="http://qa-rfe-gdb.rferl.org/effe4a72-a045-401b-b5ad-888b0824c3bf_tv_w250_r1_s.jpg">
        <div class="flPlayer" data-configfilepath="">
            <a href="http://get.adobe.com/flashplayer/">Get Adobe Flash Player</a>
        </div>
        <source data-src="{{media-url}}" type="video/mp4">
    
        {{> molecules-media-download }}


    </video>

    <div class="html5PlayerBranding">
        <span class="html5PlayerTitle">{{title}}</span>
    </div>

    <div class="html5PlayerControlPanel">
        <div class="bar progressbar">
            <div class="indicator">
                <div class="loaded"></div>
                <div class="filled played"></div>
            </div>
            <button type="button"><span>▶</span></button>
        </div>

        <div class="html5PlayerControlsLeft">
            <span class="html5PlayerBtn html5PlayerPlay"></span>
            <span class="html5PlayerBtn html5PlayerPause"></span>
            <span class="curTime" dir="ltr">0:00:00</span><span class="duration" dir="ltr"></span>
        </div>
        <div class="html5PlayerControlsRight">
            <span class="html5PlayerBtn html5PlayerMore"></span>
            <a href="/mobile/19/Article/MediaPlayer?id=27121366" target="_blank" class="html5PlayerBtn html5PlayerFullscreenBtn"></a>
            <span class="html5PlayerBtn html5PlayerSourceSwitch"></span>
            <div class="mediaSwitchPanel"></div>
            <span class="html5PlayerBtn html5PlayerVolume"></span>
            <div class="bar volumebar">
                <div class="indicator">
                    <div class="filled volLevel"></div>
                </div>
                <button type="button"><span>▶</span></button>
            </div>
        </div>
    </div>

    <div class="playBig" title="▶">
        <div class="playBigBg"></div>
        <div class="playBigFg">
            <div class="altIco">▶</div>
        </div>
    </div>
</div>
