<ul class="buttons">
    <li>
        <a href="#" title="backward" class="btn btn-rounded btn-arrow-left">
            {{> atoms-ico:chevron-left-rounded }}
        </a>
    </li>
    <li>
        <a href="#" title="forward" class="btn btn-rounded btn-arrow-right">
            {{> atoms-ico:chevron-right-rounded }}
        </a>
    </li>
</ul>