<a href="{{link-home}}" id="logo">
    <img src="../../css/{{entity}}/{{site}}/img/logo-compact.png" class="small" alt="{{service_name}}" />
    <img src="../../css/{{entity}}/{{site}}/img/logo.png" class="big" alt="{{service_name}}" />
</a>
<img src="../../css/{{entity}}/{{site}}/img/logo-print.gif" class="logo-print" alt="{{service_name}}" />
